*{
    margin: 0px;
    padding: 0px;
    background-color: aqua;
}
#lisiOne{
    list-style: none;
    width: 50%;
    margin-top: 30px;
}
#formOne{
    width: 50%;
}
#dateTwo{
    width: 50%;
}
#commentli{
    width: 50%;
    background-color: red;
}